In [1]:
import numpy as np
import pandas as pd

In [2]:
High_AUC_PPV_FUNCTIONS = pd.read_csv("High_AUC_PPV_FUNCTIONS.txt", sep="\t")
High_AUC_PPV_FUNCTIONS

,GO_LABEL,tAUC,tF1,tF1_NAIVE,tSPECIFICITY,tPRECISION(PPV),tRECALL,tACCURACY,tOPTIMAL_THRESHOLD,tG-MEAN,tN_PROTEINS_TRAINING
0,GO0005730_nucleolus,0.839,0.671,0.378,0.471061,1.8,0.872,0.630,0.718,0.836,0.015
1,GO0031012_extracellular_matrix,0.817,0.672,0.383,0.468395,1.8,0.898,0.672,0.672,0.845,0.012
2,GO0030312_external_encapsulating_structure,0.824,0.662,0.386,0.449511,1.7,0.894,0.662,0.662,0.838,0.012
3,GO0042393_histone_binding,0.829,0.636,0.381,0.411955,1.7,0.803,0.545,0.764,0.794,0.007
4,GO0003682_chromatin_binding,0.836,0.623,0.380,0.391935,1.6,0.757,0.506,0.810,0.770,0.011
...,...,...,...,...,...,...,...,...,...,...,...
143,GO0090304_nucleic_acid_metabolic_process,0.706,0.486,0.394,0.151815,1.2,0.657,0.385,0.659,0.658,0.175
144,GO0030659_cytoplasmic_vesicle_membrane,0.713,0.489,0.397,0.152570,1.2,0.655,0.387,0.663,0.657,0.010
145,GO0010562_positive_regulation_of_phosphorus_me...,0.701,0.484,0.393,0.149918,1.2,0.695,0.397,0.621,0.677,0.011
146,GO0007167_enzyme_linked_receptor_protein_signa...,0.703,0.479,0.390,0.145902,1.2,0.690,0.390,0.620,0.673,0.019
147,GO1903508_positive_regulation_of_nucleic_acid_...,0.707,0.470,0.388,0.133987,1.2,0.733,0.402,0.566,0.693,0.016

In [3]:
Top_148_test_union_function_groups = pd.read_csv("Top_148_test_union_function_groups.txt", sep="\t")
Top_148_test_union_function_groups

,GO0019935_cyclic_nucleotide_mediated_signaling,Signaling
0,GO0005768_endosome,Metabolism
1,GO0008283_cell_population_proliferation,Development
2,GO0010562_positive_regulation_of_phosphorus_me...,Metabolism
3,GO0042073_intraciliary_transport,Protein_binding
4,GO0042277_peptide_binding,Protein_binding
...,...,...
142,GO0004930_G_protein_coupled_receptor_activity,Signaling
143,GO0030312_external_encapsulating_structure,Extracellular_ matrix
144,GO0042393_histone_binding,Histone_modifications
145,GO0003682_chromatin_binding,Chromatin_Chromatin_binding
146,GO0005730_nucleolus,Development

### Output files1 - IDRs
Note: remember to change the permission

In [4]:
protein = pd.read_csv("GO0042393_histone_binding_ Pred_df.csv", index_col=0)
protein

        GO0042393_histone_binding
Q5VTL8                   0.005964
Q5VTQ0                   0.003150
Q5VTR2                   0.007452
Q5VUJ6                   0.005823
Q5VUM1                   0.012137
...                           ...
Q8NEH6                   0.004992
Q8NEJ9                   0.049792
Q8NEK5                   0.009652
Q8NEL0                   0.004085
Q8NEL9                   0.006129

[11640 rows x 1 columns]

In [5]:
protein.describe()

       GO0042393_histone_binding
count               11640.000000
mean                    0.007787
std                     0.011734
min                     0.000538
25%                     0.003355
50%                     0.004607
75%                     0.007314
max                     0.250894

### max = 0.25, see the question from email

In [6]:
protein_filter = protein[protein['GO0042393_histone_binding'] > 0.15]
protein_filter

        GO0042393_histone_binding
Q92794                   0.154160
Q9NU22                   0.177108
Q9NVP1                   0.164123
P35659                   0.151730
P49711                   0.171339
Q96T23                   0.250894
O00294                   0.182632
O60524                   0.221231
P78362                   0.228604

In [7]:
protein_filter.shape

(9, 1)

In [8]:
IDR = pd.read_csv("GO0042393_histone_binding_ PostIDR.csv")
IDR

               Unnamed: 0  GO0042393_histone_binding
0      Q5VTL8_IDR_234_546                   1.000000
1        Q5VTQ0_IDR_1_129                   1.000000
2         Q5VTR2_IDR_1_95                   0.321157
3         Q5VUJ6_IDR_1_54                   0.480947
4      Q5VUJ6_IDR_308_649                   0.519053
...                   ...                        ...
19027  Q8NEL9_IDR_204_247                   0.262550
19028   Q8NEL9_IDR_28_155                   0.249483
19029  Q8NEL9_IDR_561_606                   0.242730
19030  Q8NEL9_IDR_700_839                   0.245237
19031  Q8NEM0_IDR_165_644                   0.493806

[19032 rows x 2 columns]

In [9]:
IDR.describe()

       GO0042393_histone_binding
count               19032.000000
mean                    0.611602
std                     0.313535
min                     0.053002
25%                     0.334229
50%                     0.503043
75%                     1.000000
max                     1.000000

In [10]:
protein_values = protein_filter.index.values
protein_values

array(['Q92794', 'Q9NU22', 'Q9NVP1', 'P35659', 'P49711', 'Q96T23',
       'O00294', 'O60524', 'P78362'], dtype=object)

In [11]:
IDR = IDR.rename(columns={"Unnamed: 0": "protein_IDR"})
IDR

              protein_IDR  GO0042393_histone_binding
0      Q5VTL8_IDR_234_546                   1.000000
1        Q5VTQ0_IDR_1_129                   1.000000
2         Q5VTR2_IDR_1_95                   0.321157
3         Q5VUJ6_IDR_1_54                   0.480947
4      Q5VUJ6_IDR_308_649                   0.519053
...                   ...                        ...
19027  Q8NEL9_IDR_204_247                   0.262550
19028   Q8NEL9_IDR_28_155                   0.249483
19029  Q8NEL9_IDR_561_606                   0.242730
19030  Q8NEL9_IDR_700_839                   0.245237
19031  Q8NEM0_IDR_165_644                   0.493806

[19032 rows x 2 columns]

In [12]:
filter_IDRs = pd.DataFrame()
for value in protein_values:
    for IDR_value in IDR["protein_IDR"].values:
        if value in IDR_value:
            s2 = IDR[IDR["protein_IDR"] == IDR_value]
            filter_IDRs = pd.concat([filter_IDRs, s2], ignore_index=True)
            
filter_IDRs

             protein_IDR  GO0042393_histone_binding
0    Q92794_IDR_783_1903                   0.795020
1     Q92794_IDR_313_474                   0.204980
2   Q9NU22_IDR_4661_5278                   1.000000
3       Q9NVP1_IDR_1_173                   0.823353
4     Q9NVP1_IDR_626_670                   0.176647
5     P35659_IDR_188_319                   0.709345
6        P35659_IDR_1_76                   0.290655
7     P49711_IDR_559_715                   0.820802
8       P49711_IDR_1_524                   0.179198
9    Q96T23_IDR_208_1425                   1.000000
10     O00294_IDR_14_285                   1.000000
11    O60524_IDR_415_455                   0.220535
12    O60524_IDR_669_975                   0.779465
13       P78362_IDR_1_59                   0.151578
14    P78362_IDR_248_510                   0.848422

In [13]:
filter_IDRs.describe()

       GO0042393_histone_binding
count                  15.000000
mean                    0.600000
std                     0.345963
min                     0.151578
25%                     0.212758
50%                     0.779465
75%                     0.835887
max                     1.000000

In [14]:
filter_IDRs = filter_IDRs[filter_IDRs["GO0042393_histone_binding"] > 0.5]
filter_IDRs

             protein_IDR  GO0042393_histone_binding
0    Q92794_IDR_783_1903                   0.795020
2   Q9NU22_IDR_4661_5278                   1.000000
3       Q9NVP1_IDR_1_173                   0.823353
5     P35659_IDR_188_319                   0.709345
7     P49711_IDR_559_715                   0.820802
9    Q96T23_IDR_208_1425                   1.000000
10     O00294_IDR_14_285                   1.000000
12    O60524_IDR_669_975                   0.779465
14    P78362_IDR_248_510                   0.848422

In [15]:
len(filter_IDRs)

9

In [16]:
filter_IDRs = filter_IDRs.to_html(index=False).replace('<table border="1" class="dataframe">','<table class="table table-striped">')

### Output files2 - Features

In [17]:
features = pd.read_csv("GO0042393_histone_binding_ Tstats_df.csv")
features

             Unnamed: 0  GO0042393_histone_binding
0            net_charge                        NaN
1         WF_complexity                   1.131800
2         KL_hydropathy                        NaN
3     isoelectric_point                        NaN
4                   FCR                   2.817525
..                  ...                        ...
139           aliphatic                        NaN
140      polar_fraction                        NaN
141     chain_expanding                        NaN
142            aromatic                  -2.666586
143  disorder_promoting                        NaN

[144 rows x 2 columns]

In [18]:
filter_features = features.dropna()
filter_features

              Unnamed: 0  GO0042393_histone_binding
1          WF_complexity                   1.131800
4                    FCR                   2.817525
7                    SCD                   2.601756
14      id.REP_E2.E.2.2.                   2.074902
15      id.REP_D2.D.2.2.                   1.085807
16      id.REP_K2.K.2.2.                   2.814414
18      id.REP_P2.P.2.2.                  -1.791387
27    CLV_C14_Caspase3.7                   3.208207
66   LIG_SUMO_SIM_anti_2                   3.173525
72             MOD_CK2_1                  -6.776949
89    TRG_NLS_MonoExtN_4                   3.090136
92             D_homorep                   3.690732
93             E_homorep                   0.775780
103            R_homorep                   2.355110
111               SGFYSG                  -1.749360
115             R_plus_Y                  -3.208359
124                 AA_G                   4.610346
135                 AA_W                  -2.714511
142             aromatic                  -2.666586

In [19]:
IDR = IDR.rename(columns={"Unnamed: 0": "Feature names"})
IDR

              protein_IDR  GO0042393_histone_binding
0      Q5VTL8_IDR_234_546                   1.000000
1        Q5VTQ0_IDR_1_129                   1.000000
2         Q5VTR2_IDR_1_95                   0.321157
3         Q5VUJ6_IDR_1_54                   0.480947
4      Q5VUJ6_IDR_308_649                   0.519053
...                   ...                        ...
19027  Q8NEL9_IDR_204_247                   0.262550
19028   Q8NEL9_IDR_28_155                   0.249483
19029  Q8NEL9_IDR_561_606                   0.242730
19030  Q8NEL9_IDR_700_839                   0.245237
19031  Q8NEM0_IDR_165_644                   0.493806

[19032 rows x 2 columns]

In [20]:
filter_features = filter_features.to_html(index=False).replace('<table border="1" class="dataframe">','<table class="table table-striped">')
filter_features

'<table class="table table-striped">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Unnamed: 0</th>\n      <th>GO0042393_histone_binding</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>WF_complexity</td>\n      <td>1.131800</td>\n    </tr>\n    <tr>\n      <td>FCR</td>\n      <td>2.817525</td>\n    </tr>\n    <tr>\n      <td>SCD</td>\n      <td>2.601756</td>\n    </tr>\n    <tr>\n      <td>id.REP_E2.E.2.2.</td>\n      <td>2.074902</td>\n    </tr>\n    <tr>\n      <td>id.REP_D2.D.2.2.</td>\n      <td>1.085807</td>\n    </tr>\n    <tr>\n      <td>id.REP_K2.K.2.2.</td>\n      <td>2.814414</td>\n    </tr>\n    <tr>\n      <td>id.REP_P2.P.2.2.</td>\n      <td>-1.791387</td>\n    </tr>\n    <tr>\n      <td>CLV_C14_Caspase3.7</td>\n      <td>3.208207</td>\n    </tr>\n    <tr>\n      <td>LIG_SUMO_SIM_anti_2</td>\n      <td>3.173525</td>\n    </tr>\n    <tr>\n      <td>MOD_CK2_1</td>\n      <td>-6.776949</td>\n    </tr>\n    <tr>\n      <td>TRG_NLS_MonoExtN_4</td>\n      <td>3.090136</td>\n    </tr>\n    <tr>\n      <td>D_homorep</td>\n      <td>3.690732</td>\n    </tr>\n    <tr>\n      <td>E_homorep</td>\n      <td>0.775780</td>\n    </tr>\n    <tr>\n      <td>R_homorep</td>\n      <td>2.355110</td>\n    </tr>\n    <tr>\n      <td>SGFYSG</td>\n      <td>-1.749360</td>\n    </tr>\n    <tr>\n      <td>R_plus_Y</td>\n      <td>-3.208359</td>\n    </tr>\n    <tr>\n      <td>AA_G</td>\n      <td>4.610346</td>\n    </tr>\n    <tr>\n      <td>AA_W</td>\n      <td>-2.714511</td>\n    </tr>\n    <tr>\n      <td>aromatic</td>\n      <td>-2.666586</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
# refer to https://plotly.com/python/v3/html-reports/#generate-html-reports-with-d3-graphsusing-python-plotly-and-pandas
html_string = '''
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <style>body{ margin:0 100; background:whitesmoke; }</style>
    </head>
    <body>
        <h1>Group/Function: histone binding</h1>
        
        <!-- *** Two Lists *** --->
        <h2>IDRs List</h2>
        ''' + filter_IDRs + '''
        
        <h2>Features List</h2>
        ''' + filter_features + '''
    </body>
</html>'''

In [22]:
f = open('/home/shuting/IDRs_list.html','w')
f.write(html_string)
f.close()