In [1]:
import numpy as np
import pandas as pd
import os
import glob

In [17]:
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "Files", "*.csv"))
num = 0

print(csv_files)

['/home/shuting/IDRs/Files/GO0003682_chromatin_binding_ PostIDR.csv', '/home/shuting/IDRs/Files/GO0003682_chromatin_binding_ Pred_df.csv', '/home/shuting/IDRs/Files/GO0003682_chromatin_binding_ Tstats_df.csv', '/home/shuting/IDRs/Files/GO0005730_nucleolus_ PostIDR.csv', '/home/shuting/IDRs/Files/GO0005730_nucleolus_ Pred_df.csv', '/home/shuting/IDRs/Files/GO0005730_nucleolus_ Tstats_df.csv', '/home/shuting/IDRs/Files/GO0030312_external_encapsulating_structure_ PostIDR.csv', '/home/shuting/IDRs/Files/GO0030312_external_encapsulating_structure_ Pred_df.csv', '/home/shuting/IDRs/Files/GO0030312_external_encapsulating_structure_ Tstats_df.csv', '/home/shuting/IDRs/Files/GO0031012_extracellular_matrix_ PostIDR.csv', '/home/shuting/IDRs/Files/GO0031012_extracellular_matrix_ Pred_df.csv', '/home/shuting/IDRs/Files/GO0031012_extracellular_matrix_ Tstats_df.csv', '/home/shuting/IDRs/Files/GO0042393_histone_binding_ PostIDR.csv', '/home/shuting/IDRs/Files/GO0042393_histone_binding_ Pred_df.csv', '/home/shuting/IDRs/Files/GO0042393_histone_binding_ Tstats_df.csv']

In [ ]:
# loop over the list of csv files
for f in csv_files:
    
    # read the csv file
    df = pd.read_csv(f)
      
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
    # print the content
    print('Content:')
    display(df)
    print()
    
    num +=1

In [16]:
num

15

In [18]:
name = "GO0003682_chromatin_binding_ PostIDR.csv"

In [24]:
name_split = name.split()
name_split

['GO0003682_chromatin_binding_', 'PostIDR.csv']

In [25]:
name_split[0]

'GO0003682_chromatin_binding_'

In [3]:
protein_df = pd.read_csv("GO0003682_chromatin_binding_ Pred_df.csv",  names = ["Protein_name","Score"], header=0, index_col=0)
protein_filter = protein_df[protein_df['Score'] > 0.15]
filtered_protein_name = protein_filter.index.values
filtered_protein_name

array(['Q8N9Q2', 'Q8NE71', 'O00567', 'O75167', 'O75475', 'P07305',
       'P18583', 'P35659', 'P46013', 'Q14093', 'Q5SSJ5', 'Q8NFC6',
       'Q969V6', 'Q96T23', 'Q9BW71', 'Q9NR30', 'Q9NTI5', 'O00294',
       'Q9Y6X4', 'O15446', 'O60524', 'P22492', 'Q02952', 'Q13127',
       'Q13428', 'Q14978'], dtype=object)

In [4]:
IDR_df = pd.read_csv("GO0003682_chromatin_binding_ PostIDR.csv", names = ["Protein IDR","Score"], header=0)

# Split GO_term string in order to let user understand the meaning of each column
# https://stackoverflow.com/questions/14745022/how-to-split-a-dataframe-string-column-into-two-columns
# n=the number of columns you expect
IDR_df[['UniProtID', 'Redundancy', 'The beginning position of IDR', 'The ending position of IDR']] = IDR_df['Protein IDR'].str.split('_', n=4, expand=True)

filter_IDRs = pd.DataFrame([])
for p_name in filtered_protein_name:
    for IDR_name in IDR_df["Protein IDR"]:
        if p_name in IDR_name:
            s2 = IDR_df[IDR_df["Protein IDR"] == IDR_name]
            filter_IDRs = pd.concat([filter_IDRs, s2], ignore_index=True)

# compute the total numbe of IDRs in each protein            
num_of_IDRs = filter_IDRs["UniProtID"].value_counts(sort=False).to_list()

filter_IDRs = filter_IDRs[filter_IDRs["Score"] > 0.5]
filter_IDRs = filter_IDRs.drop(columns=['Protein IDR', 'Redundancy'])
filter_IDRs = filter_IDRs[['UniProtID', 'The beginning position of IDR', 'The ending position of IDR', 'Score']]
filter_IDRs["The number of IDRs in each protein"] = num_of_IDRs

# hold two digits after the decimal points
filter_IDRs["Score"] = filter_IDRs["Score"].astype(float)
filter_IDRs["Score"] = filter_IDRs["Score"].round(2)

filter_IDRs

,UniProtID,The beginning position of IDR,The ending position of IDR,Score,The number of IDRs in each protein
0,Q8N9Q2,46,155,1.00,1
1,Q8NE71,1,299,1.00,1
2,O00567,434,594,1.00,1
3,O75167,1,502,1.00,1
5,O75475,89,347,0.79,2
6,P07305,96,194,1.00,1
7,P18583,21,2228,1.00,1
8,P35659,188,319,0.83,2
10,P46013,98,3256,1.00,1
11,Q14093,41,348,1.00,1
13,Q5SSJ5,417,553,0.76,2
15,Q8NFC6,159,3051,0.82,2
16,Q969V6,1,877,1.00,1
17,Q96T23,208,1425,1.00,1
18,Q9BW71,38,422,0.78,2
20,Q9NR30,1,184,0.85,2
22,Q9NTI5,1121,1447,1.00,1
23,O00294,14,285,1.00,1
24,Q9Y6X4,259,670,1.00,1
25,O15446,124,510,1.00,1
27,O60524,669,975,0.65,2
28,P22492,112,207,0.68,2
30,Q02952,1,1782,1.00,1
32,Q13127,411,1054,0.79,2
33,Q13428,21,1488,1.00,1
34,Q14978,61,624,1.00,1

In [5]:
filter_IDRs_conditions = filter_IDRs[filter_IDRs["The number of IDRs in each protein"]>1]
filter_IDRs_conditions

,UniProtID,The beginning position of IDR,The ending position of IDR,Score,The number of IDRs in each protein
5,O75475,89,347,0.79,2
8,P35659,188,319,0.83,2
13,Q5SSJ5,417,553,0.76,2
15,Q8NFC6,159,3051,0.82,2
18,Q9BW71,38,422,0.78,2
20,Q9NR30,1,184,0.85,2
27,O60524,669,975,0.65,2
28,P22492,112,207,0.68,2
32,Q13127,411,1054,0.79,2

In [6]:
filter_IDRs = filter_IDRs.drop(filter_IDRs_conditions[filter_IDRs_conditions["Score"]<0.8].index)
filter_IDRs

,UniProtID,The beginning position of IDR,The ending position of IDR,Score,The number of IDRs in each protein
0,Q8N9Q2,46,155,1.00,1
1,Q8NE71,1,299,1.00,1
2,O00567,434,594,1.00,1
3,O75167,1,502,1.00,1
6,P07305,96,194,1.00,1
7,P18583,21,2228,1.00,1
8,P35659,188,319,0.83,2
10,P46013,98,3256,1.00,1
11,Q14093,41,348,1.00,1
15,Q8NFC6,159,3051,0.82,2
16,Q969V6,1,877,1.00,1
17,Q96T23,208,1425,1.00,1
20,Q9NR30,1,184,0.85,2
22,Q9NTI5,1121,1447,1.00,1
23,O00294,14,285,1.00,1
24,Q9Y6X4,259,670,1.00,1
25,O15446,124,510,1.00,1
30,Q02952,1,1782,1.00,1
33,Q13428,21,1488,1.00,1
34,Q14978,61,624,1.00,1

In [2]:
df = pd.read_csv("../statistics_data/GO1990904_ribonucleoprotein_complex_ Pred_df.csv")
df

      Unnamed: 0  GO1990904_ribonucleoprotein_complex
0         Q5VTL8                             0.031361
1         Q5VTQ0                             0.011377
2         Q5VTR2                             0.028818
3         Q5VUJ6                             0.027855
4         Q5VUM1                             0.045922
...          ...                                  ...
11635     Q8NEH6                             0.030196
11636     Q8NEJ9                             0.085473
11637     Q8NEK5                             0.016681
11638     Q8NEL0                             0.017471
11639     Q8NEL9                             0.019509

[11640 rows x 2 columns]